<md-toolbar layout="row" layout-align="center center">
    <md-button ui-sref=".example">Example</md-button>
    <md-button ui-sref=".example2">Example2</md-button>
    <md-button ng-click="vm.test()">Call Test Function</md-button>
    {{vm.title}}
</md-toolbar>