<md-content flex layout-padding>
	<h2>This is tabs page of example2 module... Use navigate to go other example page...</h2>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="{{tag.name}}" ng-repeat="tag in vm.tags">
            <md-content class="md-padding">
                <h1 class="md-display-2">Tab {{tag.name}} Count {{tag.count}}</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
                <md-button class="md-raised md-primary" ng-click="vm.test(tab)">Test Function</md-button>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>

<md-button ng-click="vm.triggerEvent()">Trigger Event</md-button>

<ui-view></ui-view>