<remy-header></remy-header>

<div layout="row" layout-align="center center">
    <md-button class="md-warn">Check broweser console you will see some information there and prepare your questions :D</md-button>
</div>

<ui-view></ui-view>